<div class="register-container">
  <div class="register-card">
    <h2>Register</h2>
    <form>
      <input type="text" placeholder="Full Name" />
      <input type="email" placeholder="Email" />
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Confirm Password" />
      <button class="register-btn">Create Account</button>
    </form>

    <p class="login-text">
      Already have an account?
      <a (click)="go_to_login()">Log in</a>
    </p>
  </div>
</div>
