<nav class="vertical-header" [class.collapsed]="isCollapsed">
  <div class="logo">InstaSight</div>
  <ul class="nav-links" *ngIf="!isCollapsed">
    <li (click)="goToNavigate()">
      <a [ngClass]="{'active': activeRoute.includes('/home')}">InstaNavigate</a>
    </li>
    <li (click)="goToFriends()">
      <a [ngClass]="{'active': activeRoute.includes('/message')}">InstaFriends</a>
    </li>
    <li (click)="goToView()">
      <a [ngClass]="{'active': activeRoute.includes('/view_loc')}">InstaView</a>
    </li>
    <li (click)="goToBrain()">
      <a [ngClass]="{'active': activeRoute.includes('/brain')}">InstaBrain</a>
    </li>
  </ul>
  <button class="toggle-btn" (click)="toggleCollapse()">
    {{ isCollapsed ? '▶' : '◀' }}
  </button>
</nav>
