<div class="login-container">
    <div class="login-card">
      <h2>Login</h2>
      <form>
        <input type="email" placeholder="Email" />
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <button class="login-btn">Login</button>
      </form>
  
      <button class="google-btn">
        <img src="assets/google-icon.svg" alt="Google" />
        Continue with Google
      </button>
  
      <p class="signup-text">
        Don’t have an account yet? <a (click) = "go_to_register()">Sign up</a>
      </p>
    </div>
  </div>
  