<div class="login-container">
    <div class="login-card">
      <h2>Login</h2>
      <form>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button class="login-btn">Login</button>
      </form>
  
  <button class="google-btn">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Google_Favicon_2025.svg/120px-Google_Favicon_2025.svg.png" alt="Google" width="20" height="20" />
    Continue with Google
  </button>
  
      <p class="signup-text">
        Don’t have an account yet? <a (click) = "go_to_register()">Sign up</a>
      </p>
    </div>
  </div>
  