<div class="login-container">
    <div class="login-card">
      <h2>Login</h2>
  <form (ngSubmit)="get_into_account()">
  <input type="email" [(ngModel)]="email" name="email" placeholder="Email" />
  <input type="password" [(ngModel)]="password" name="password" placeholder="Password" />
  <button type="submit" class="login-btn">Log In</button>
</form>
  <button class="google-btn" (click)="sign_in_with_google()">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Google_Favicon_2025.svg/120px-Google_Favicon_2025.svg.png" alt="Google" width="20" height="20" />
    Continue with Google
  </button>
  
      <p class="signup-text">
        Don’t have an account yet? <a (click) = "go_to_register()">Sign up</a>
      </p>
    </div>
  </div>
  